table#documentsTable th,
table#documentsTable td
{
    vertical-align: middle;
}

table#documentsTable th.identifier
{
    width: 3%;
}

table#documentsTable th.title
{
    width: 50%;
}

table#documentsTable th.creation-date,
table#documentsTable td.creation-date,
table#documentsTable th.updated-date,
table#documentsTable td.updated-date,
table#documentsTable th.is-active,
table#documentsTable td.is-active
{
    text-align: center;
}

table#documentsTable th.actions,
table#documentsTable td.actions
{
    text-align: right;
}

h4.caption
{
    margin: 30px 0;
}

.form-inline label
{
    justify-content: left;
}

.mh5px
{
    margin: 5px 0;
}