<style type="text/css">
    <!--
    @page {
        size: {{ format }}
    }
    -->
</style>
<table width="100%" align="center" cellspacing="20">
    {% for row in 1..128 %}
        <tr>
            {% set maxColumns = 3 %}
            {% for column in 1..maxColumns %}
                <td style="word-wrap: break-word;" valign="top">
                    {% set cellIdentifier = (row*(maxColumns-1))+(row+(-(maxColumns)+column)) %}

                    <b>Field</b> {{ cellIdentifier }} :
                    {% set value = _context['field_'~cellIdentifier] is defined ? _context['field_'~cellIdentifier]|wordwrap(15, '<br/>') : 'Value ' ~ cellIdentifier %}
                    {{ value|raw }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
