<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Documents</title>
        <link rel="stylesheet" href="{{ asset('components/bootstrap/dist/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" />
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Documents</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('documentsList') }}">List</a>
                    </li>
                </ul>
                <a class="btn btn-outline-primary" href="{{ path('newDocument') }}">Create new document</a>
            </div>
        </nav>

        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>

        <script type="application/javascript" src="{{ asset('components/jquery/dist/jquery.min.js') }}"></script>
        <script type="application/javascript" src="{{ asset('components/popper.js/dist/popper.min.js') }}"></script>
        <script type="application/javascript" src="{{ asset('components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script type="application/javascript" src="{{ asset('assets/js/script.js') }}"></script>
    </body>
</html>
