{% extends 'base.html.twig' %}

{% block body %}

    <h4 class="caption">{{ isEdit ? 'Edit' : 'Create new' }} document</h4>

    <form class="form-inline col-sm-12" id="documentForm">

        <input type="hidden" id="identifier" value="{{ id is defined ? id : 0 }}" />

        <div class="alert alert-success col-sm-12" style="display: none;" id="success">
            <strong>Saved</strong>
        </div>

        <div class="col-sm-12">
            <div class="form-row">
                <div class="form-group row col-sm-6">
                    <label for="title" class="col-form-label col-sm-2">Document title</label>
                    <input type="text" id="title" class="form-control col-sm-8" value="{{ title is defined ? title : '' }}" />
                </div>
                <div class="col-sm-6 text-right">
                    <button class="btn btn-success save">Save</button>
                </div>
            </div>

            <hr/>
        </div>

        <div class="col-sm-12">

            {% for row in 1..128 %}

            <div class="form-row mh5px">

                {% set maxColumns = 4 %}
                {% for column in 1..maxColumns %}
                {% set cellIdentifier = (row*(maxColumns-1))+(row+(-(maxColumns)+column)) %}

                <div class="form-group row col-sm-3">
                    <label for="field_{{ cellIdentifier }}" class="col-form-label col-sm-3">Field {{ cellIdentifier }}</label>
                    <input type="text" id="field_{{ cellIdentifier }}" class="form-control col-sm-8" value="{{ _context['field_'~cellIdentifier] is defined ? _context['field_'~cellIdentifier] : 'Value ' ~ cellIdentifier }}" />
                </div>

                {% endfor %}

            </div>

            {% endfor %}

        </div>

        <div class="form-group row col-sm-12">
            <div class="col-sm-12 mh5px text-right">
                <hr/>

                <button class="btn btn-success save">Save</button>
            </div>
        </div>
    </form>

{% endblock %}
