{% extends 'base.html.twig' %}

{% block body %}

    <table class="table" id="documentsTable">
        <thead>
            <tr>
                <th scope="col" class="identifier"><abbr title="Identifier">ID</abbr></th>
                <th scope="col" class="title">Title</th>
                <th scope="col" class="creation-date">Creation date</th>
                <th scope="col" class="updated-date">Last update date</th>
                <th scope="col" class="is-active">Is active</th>
                <th scope="col" class="actions">Actions</th>
            </tr>
        </thead>
        <tbody>

            {% for document in documents %}

                <tr>
                    <th scope="row" class="identifier">{{ document.id }}</th>
                    <td class="title">{{ document.title }}</td>
                    <td class="creation-date">{{ document.createdAt|date('Y-m-d H:i:s') }}</td>
                    <td class="updated-date">{{ document.updatedAt is empty ? "" : document.updatedAt|date('Y-m-d H:i:s') }}</td>
                    <td class="is-active active-{{ document.id }}">{{ document.isActive ? 'Yes' : 'No' }}</td>
                    <td class="actions">
                        <button id="togglePrintModal"
                                class="btn btn-primary print-{{ document.id }}"
                                data-document-id="{{ document.id }}"
                                data-toggle="modal"
                                data-target="#printModal" {{ not document.isActive ? 'disabled' : '' }}
                        >Download</button>

                        <a href="{{ path('editDocument', {'id': document.id}) }}"
                           class="btn btn-warning edit-{{ document.id }} {{ not document.isActive ? 'disabled' : '' }}"
                        >Edit</a>

                        <button id="removeDocument"
                                class="btn btn-{{ document.isActive ? 'danger' : 'success' }} toggle-{{ document.id }}"
                                data-document-id="{{ document.id }}"
                        >{{ document.isActive ? 'Deactivate' : 'Activate' }}</button>
                    </td>
                </tr>

            {% endfor %}

        </tbody>
    </table>

    <div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Download the PDF document</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="pageFormat">Select page format</label>
                    <select id="pageFormat" class="form-control">
                        <optgroup label="Default">
                            <option value="A4">A4</option>
                        </optgroup>
                        <optgroup label="Other">
                            <option value="A3">A3</option>
                            <option value="A5">A5</option>
                        </optgroup>
                    </select>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-primary" id="download-pdf" target="_blank">Download</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
